<div id="container">
	<h1>Go Todo Web App</h1>
   	<p id="msg">A simple todo app written in Go with Backbone.js.</p>
   	<div id="todo-list">
        <button id='add'>Add list item</button>
        <input type='text' id='add-text' />
        <p id="error"></p>
    </div>
</div>
