<html>
<head>
	<title>Go Todo Web App</title>
	<link rel="stylesheet" TYPE="text/css" HREF="static/css/style.css">

	<!-- Libraries -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script src="/static/libs/underscore{{if .Prod}}-min{{end}}.js" type="text/javascript"></script>
	<script src="/static/libs/backbone{{if .Prod}}-min{{end}}.js" type="text/javascript"></script>

	<!-- Scripts -->
	{{if .Prod}}
	<script src="/static/js/todo-min.js" type="text/javascript"></script>
	{{else}}
	<script src="/static/js/todo.js" type="text/javascript"></script>
	{{end}}

	<!-- Initialization -->
	<script>
		$(document).ready(function() {
			Todo.init();
		});
	</script>
</head>
<body>
	<h1>Go Todo Web App</h1>
   	<p id="msg">A simple todo app written in Go.</p>
   	<ul id="todo-list">
   		{{range .Items}}
   		<li class="todo-item" id="item-{{.Num}}">
   			<span class="{{if .Done}}done{{else}}not-done{{end}}"></span>
   			<span class="desc">{{.Desc}}</span>
   		</li>
   		{{end}}
   		<li id="new-item">
   			<input type="text" id="new-desc" />
   		</li>
   	</ul>

</body>
</html>
